$backgoundColor: rgb(0, 0, 0);
$backgoundHeader: rgb(0, 0, 0);
$colorHeader: rgb(255, 255, 255);
$mainColor: #ffffff;
$textColor: black;
$headerColor: white;
$mainTextColor: grey;
$mainFont: 'Roboto', sans-serif;
$secondFont: 'Montserrat', sans-serif;
$widthContent: 1200px;
$breakpoint_xxl:1200px;
$breakpoint_xl:1024px;
$breakpoint_md:767px;
$breakpoint_sm:576px;